在進行程式碼理解時，建議可以採用幾個步驟

## 1. 將數值設定
我們首先將影片中4:58這個時段以前所講解的程式碼放入我們RFM.py這個檔案內，如下述程式碼所示。

並執行下述程式碼。

In [22]:


import pandas as pd


#-------------------------------------設置數值----------------------------------
####### RFM 模型實戰演練 ####### 

####### 1.資料讀取 ####### 
orders= pd.read_csv('orders.csv')

####### 2.資料處理 ####### 

# 情況一：日期有錯，請改成2018年
orders['orderdate'] =  orders['orderdate'].str.replace('2017', '2018')

# 情況二：將gender改變成male與female
orders['gender'] = orders['gender'].str.replace('男性', 'male')

# 問題：將女性改female
orders['gender'] = orders['gender'].str.replace('女性', 'female')


# 設定今天的日期： 2018/4/11
'從今天來看過往的銷售狀況'
from dateutil import parser
assess_date = parser.parse('2018-04-11')

type(assess_date)
type('2018-04-11')
#-----------------------------------------------------------------------------

str

In [23]:
# 我們可以看到orders的處理後的模樣
# 在此我們抓取前五筆的資料來查看
orders.head()

   Unnamed: 0 product  orderId  clientId  gender   orderdate  grossmarg
0           1  banana      582       230  female  2018-01-08         10
1           2  banana        2       276    male  2018-02-18         10
2           3  banana      725       277  female  2018-02-03         10
3           4  banana      597       279    male  2018-03-05         10
4           5  banana      761        92  female  2018-02-08         10

## 2. 解析Function的「參數」
接著我們來解析RFM_cal function的內部程式碼，我們將進行逐步執行，這樣既可幫助我們進行程式碼的了解。
可以看到RFM_cal有兩個需要放入的值，分別為
- orders：代表要放入上述orders的資料表
- assess_date：我們今天所設定的日期，在此的範例是2018-04-11

In [24]:

# df2, recent_recency, frequency = RFM.RFM_cal(orders, assess_date)  ←使用function的程式碼

# 設定function參數
# 這裡名稱會是一樣的是因為剛好function內的參數與原數值變數的名稱相同。
orders = orders
assess_date = assess_date

## 3. 解析RFM_cal function
接下來我們來解析RFM_cal function

- 設定好function參數後，我們可將function逐行執行
- 此地方就不用執行第一行的def，可接執行def的下一行，逐行執行的方法可將一行一行的選取起來按F9進行執行

- pivot_table設定：pivot_table為一種樞紐分析表

- index : 列的值，可以想像為群組的分類，如果我們使用clientID為一個群組分類那麼相同的clientID即為一個分類，本次同時使用clientId, gender, orderdate為共同的一個分類，統計每一個product在消費當天的狀況

- columns：我要進行統計的欄位

- aggfunc：我要進行統計的準則，在此是依照長度

- values：依據本數值統計

舉下圖為例：我們將clientId, gender, orderdate為共同的一個分類（index），來統計product這個欄位（columns），如何統計呢？ 使用長度len（aggfunc）對每一數值（values）進行加總

![](https://imgur.com/V0H0W89.png)

In [25]:

# 計算每個人在banana、water與milk的消費數量與時間

# 不須執行def 可以將底下的程式碼選取起來 F9逐行執行讓您更了解該程式碼 
#def RFM_cal(orders,assess_date):

# 在orders內我們新增一行values = 1為後面計算product消費次數做準備
orders['values'] = 1

df2 = orders.pivot_table(index=['clientId','gender','orderdate'],columns='product',aggfunc=len, values='values').fillna(0).reset_index()

In [26]:
# 統計完畢後
df2

product  clientId  gender   orderdate  banana  milk  water
0               1    male  2018-02-23     0.0   2.0    2.0
1               1    male  2018-02-26     1.0   0.0    0.0
2               1    male  2018-03-17     1.0   2.0    3.0
3               1    male  2018-03-25     0.0   2.0    4.0
4               1    male  2018-04-03     0.0   2.0    2.0
5               2    male  2018-03-31     0.0   1.0    4.0
6               3  female  2018-01-12     0.0   3.0    5.0
7               3  female  2018-02-21     1.0   0.0    6.0
8               3  female  2018-02-25     1.0   3.0    1.0
9               3  female  2018-02-28     1.0   0.0    1.0
10              3  female  2018-04-07     0.0   0.0    1.0
11              3  female  2018-04-10     1.0   0.0    0.0
12              4  female  2018-02-01     1.0   1.0    2.0
13              5    male  2018-01-06     0.0   2.0    2.0
14              5    male  2018-01-17     1.0   3.0    2.0
15              5    male  2018-03-12     0.0   2.0    0.0
16              5    male  2018-03-26     0.0   1.0    0.0
17              6  female  2018-02-03     0.0   2.0    1.0
18              6  female  2018-02-13     1.0   2.0    3.0
19              6  female  2018-02-14     0.0   0.0    4.0
20              6  female  2018-03-12     0.0   0.0    2.0
21              7  female  2018-01-22     2.0   2.0    4.0
22              7  female  2018-02-04     0.0   0.0    4.0
23              7  female  2018-02-05     0.0   1.0    0.0
24              7  female  2018-02-15     1.0   0.0    4.0
25              7  female  2018-03-07     1.0   3.0    3.0
26              8  female  2018-01-09     0.0   2.0    1.0
27              8  female  2018-01-28     0.0   3.0    5.0
28              8  female  2018-04-07     0.0   1.0    3.0
29              9  female  2018-02-23     1.0   1.0    3.0
..            ...     ...         ...     ...   ...    ...
938           292  female  2018-03-16     0.0   0.0    2.0
939           292  female  2018-03-25     1.0   2.0    1.0
940           293  female  2018-01-05     3.0   0.0    4.0
941           293  female  2018-02-18     1.0   0.0    6.0
942           293  female  2018-03-05     1.0   1.0    1.0
943           293  female  2018-04-11     1.0   3.0    1.0
944           294  female  2018-01-05     2.0   1.0    3.0
945           294  female  2018-01-10     0.0   3.0    2.0
946           294  female  2018-01-19     1.0   0.0    3.0
947           294  female  2018-01-24     0.0   1.0    1.0
948           294  female  2018-02-08     1.0   1.0    1.0
949           294  female  2018-02-14     0.0   0.0    4.0
950           294  female  2018-02-22     0.0   1.0    0.0
951           294  female  2018-03-24     0.0   1.0    2.0
952           295  female  2018-01-15     1.0   2.0    1.0
953           295  female  2018-02-17     0.0   1.0    4.0
954           295  female  2018-03-13     1.0   1.0    2.0
955           295  female  2018-03-22     1.0   1.0    2.0
956           296    male  2018-02-27     1.0   0.0    4.0
957           296    male  2018-03-11     1.0   1.0    0.0
958           296    male  2018-03-12     1.0   1.0    3.0
959           296    male  2018-03-13     0.0   2.0    1.0
960           297  female  2018-01-21     1.0   0.0    3.0
961           297  female  2018-04-08     1.0   1.0    4.0
962           298  female  2018-02-26     1.0   2.0    4.0
963           298  female  2018-02-27     0.0   1.0    3.0
964           298  female  2018-03-21     0.0   2.0    1.0
965           299  female  2018-01-27     0.0   0.0    2.0
966           300    male  2018-01-07     1.0   2.0    5.0
967           300    male  2018-02-03     0.0   0.0    1.0

[968 rows x 6 columns]

In [27]:

# frequency
'指消費者在一定期間內購買該產品的次數'
df2['frequency'] = 1

# groupby 根據clientId 加總frequency， 便可算出顧客購買次數
frequency = df2.groupby("clientId", as_index = False)['frequency'].sum()
del df2['frequency']

# recency

'指消費者至今再次購買與上次購買產品的時間差'
# 轉將orderate轉為時間形式
df2['orderdate'] = pd.to_datetime(df2['orderdate'])

# 取出每一個消費者最近期的購買單據
recent_recency = df2.groupby("clientId", as_index = False)['orderdate'].max()

# assess_date為今天日期，藉由今天日期 - 最近的購買日期 = 即為上次購買與今天的時間差
recent_recency['recency'] =( assess_date - recent_recency['orderdate'] ).astype(str)

# 問題：如何將recent_recency['recency']的days去除，並轉換為 int?
# 因為我們只需要日期
recent_recency['recency'] = recent_recency['recency'].str.replace('days.*', '', regex = True).astype(int)

## 為了方便了解執行結果，可以查看下表，將frequency表前六行提取出來之結果
從此表可看到每位顧客在現有資料中的購買頻率，如顧客ID1共購買五次，ID2只購買1次等

In [33]:
print(frequency.head(6).to_string(index=False))

clientId  frequency
       1          5
       2          1
       3          6
       4          1
       5          4
       6          4

## 此外，也可查看下表了解每位顧客最後一次來消費是幾天前
如顧客ID1最後一次消費為八天前，顧客ID2最後一次消費為十一天前等

In [36]:
print(recent_recency.head(6).to_string(index=False))

clientId  orderdate  recency
       1 2018-04-03        8
       2 2018-03-31       11
       3 2018-04-10        1
       4 2018-02-01       69
       5 2018-03-26       16
       6 2018-03-12       30

In [ ]:
#接者在回傳值就完成了
# return df2,recent_recency, frequency
# 就會生成下述的檔案
# df2, recent_recency, frequency = RFM.RFM_cal(orders, assess_date)  ←使用function的程式碼